/* ============================================================================
 * トップページ
 * ========================================================================= */

#index .s-outer {
  width: 100%;
  font-family: '游明朝','Yu Mincho';
}

#index .s-header {
  background: #eee;
  padding-bottom: 100px;
}

#index h1 {
  font-size: 15em;
  letter-spacing: 0.1em;
  line-height: 1.5;
  white-space: nowrap;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
  position:relative;
  top:50px;
  left:50%;
  display:inline;
  transform:translate(-50%, 0%);
}

@media screen and (max-width: 700px) {
  #index h1 {
    font-size: 10em;
  }
}

.lead-p {
  width: 100%;
  text-align: center;
  font-size: 3em;
  background: #fff;
  padding: 30px 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.lead-p2 {
  width: 90%;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 10px;
  overflow: scroll;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
}

.m-flexbox-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.m-flexbox-outer p:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.m-flexbox-outer p {
  width: 400px;
  font-size: 30em;
  padding: 1px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .m-flexbox-outer {
    flex-direction: column;
  }
  .m-flexbox-outer p {
    width: 100%;
  }
}

.m-flexbox-outer p a {
  display: block;
}




