@charset "utf-8";


/*-------------------------------------------- */
/* 英検LPコンテンツ部分
---------------------------------------------- */

.lp_eiken1705 {
	color: #333333;
}


.lp_eiken1705 h1 {
	width: 100%;
	max-width: 1050px;
	border: none;
	margin: 0 auto;
	padding: 0;
}

@media screen and (max-width: 767px) {
	.lp_eiken1705 h1 {
		margin-top: 30px;
	}
}


.lp_eiken1705 .mainvisual {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1050px;
	height: auto;
}


.lp_eiken1705 .lp_btn {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 660px;
	text-align: center;
}


.lp_eiken1705 .lp_btn_01 {
	margin-top: -80px;
}

@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_btn_01 {
		margin-top: 0;
	}
}

.lp_eiken1705 .lp_btn img {
	width:100%;
	height:auto;
	max-width:651px;
}

.lp_eiken1705 img.block_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.lp_eiken1705 .lp_lead_outer {
	display: flex;
	width: 65%;
	margin: 60px auto 0 auto;
	border: solid 2px #00712F;
	padding: 40px;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_lead_outer {
		display: block;
	}
}

.lp_eiken1705 .lp_lead_inner {
	position: relative;
}

.lp_eiken1705 .lp_lead_outer p {
	font-weight: 900;
	font-size: 1.2em;
	line-height: 1.4;
	color: #000000;
	padding: 0 20px;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_lead_outer p {
		font-size: 1em;
	}
}

.lp_eiken1705 .lp_lead_01 {
	border-right: dotted 2px #00712F;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_lead_01 {
		border-right: none;
		margin-bottom: 3.5em;
	}
}

.lp_eiken1705 .lp_lead_outer .lp_lead_01:before {
	position: absolute;
	left: -10px;
	top: -75px;
	display: inline;
	width: 95px;
	height: 65px;
        content: "";
	background: url(./img/lp_eiken1705_lead_01.png) top center no-repeat;
}

.lp_eiken1705 .lp_lead_outer .lp_lead_02:before {
	position: absolute;
	left: -10px;
	top: -75px;
	display: inline;
	width: 95px;
	height: 65px;
        content: "";
	background: url(./img/lp_eiken1705_lead_02.png) top center no-repeat;
}



.lp_eiken1705 .img_07 {
	margin-top: 30px;
}


.lp_eiken1705 .lp_outer {
	width: 90%;
	max-width: 970px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.lp_eiken1705 .lp_outer:after {
	display: block;
	clear: both;
	content: "";
}



.lp_eiken1705 .lp_p1 {
	float: left;
	width: 50%;
	line-height: 1.7;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_p1 {
		float: none;
		width: 100%;
	}
}


.lp_eiken1705 .img_11-1 {
	float: left;
	margin-left: 5%;
	margin-right: 50px;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .img_11-1 {
		float: none;
		margin-right: 0;
	}
}

.lp_eiken1705 .img_11-2, .lp_eiken1705 .img_11-3 {
	margin: 0 5px 10px 5px;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .img_11-2 {
		margin: 1.5em 5px 10px 7%;
	}
	.lp_eiken1705 .img_11-3 {
		margin: 1.5em 5px 10px 5px;
	}
}


.lp_eiken1705 .lp_flexbox {
	display: flex;
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_flexbox {
		display: block;
	}
}

.lp_eiken1705 .lp_flexbox .lp_flexbox_inner {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_flexbox .lp_flexbox_inner {
		width: 100%;
	}
}

.lp_eiken1705 .lp_flexbox .lp_voice h3 {
	position: relative;
	text-indent: 2em;
	border: none;
	color: #333333;
	font-size: 1.3em;
	font-weight: 900;
}
.lp_eiken1705 .lp_flexbox .lp_voice h3:before {
	position: absolute;
	left: 0;
	top: 0;
	display: inline;
	width: 30px;
	height: 60px;
        content: "";
	background: url(./img/lp_eiken1705_13.png) top center no-repeat;
}


.lp_eiken1705 .lp_flexbox .lp_teacher {
	border: solid 1px #00712F;
	color: #00712F;
	padding: 20px;
}
@media screen and (max-width: 767px) {
	.lp_eiken1705 .lp_flexbox .lp_teacher {
		width: 95%;
		margin-top: 1em;
	}
}

.lp_eiken1705 .lp_flexbox .lp_teacher h3 {
	border: none;
	font-size: 1.1em;
	font-weight: 900;
	color: #00712F;
}



.lp_eiken1705 .lp_bg_green {
	background: #E6F2E2;
	width: 100%;
	max-width: 1050px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	text-align: center;
}
.lp_eiken1705 .lp_bg_shadow:after {
	display: block;
	width: 100%;
	height: 50px;
        content: "";
	background: #ffffff url(./img/lp_eiken1705_shadow.png) top center no-repeat;
	margin: 30px auto 0 auto;
}


.lp_eiken1705 .img_02 {
	margin: 30px 15px 15px 15px;
}
.lp_eiken1705 .img_03 {
	margin: 0 15px 30px 15px;
}



.lp_eiken1705 .lp_top_margin {
	margin-top: 50px;
}

.lp_eiken1705 .lp_top_margin_min {
	margin-top: 30px;
}


.lp_eiken1705 .lp_last_content {
	margin-bottom: 100px;
}